body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  #city-input {
    padding: 5px;
  }
  
  #current-weather-info,
  #forecast-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #current-weather-info div,
  #forecast-info div {
    flex-basis: 48%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #currentIcon,
  #day1icon {
    width: 50px;
    height: 50px;
  }
  
  #history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #history-list li {
    margin-bottom: 5px;
  }
  
  .btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #888;
  }
  
  .my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .w-100 {
    width: 100%;
  }
  